body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: plum;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; 
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select, form button {
    flex: 1 1 calc(33.333% - 20px); 
    padding: 10px;
    margin: 0;
}

form input[type="date"] {
    flex: 1 1 calc(50% - 20px); 
}

form button {
    background-color: deeppink;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1 1 100%; 
}

form button:hover {
    background-color: lightpink;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

td button {
    margin-right: 5px;
}

p {
    text-align: right;
    font-weight: bold;
}
